
 {{>header}}
 <div class="container">
     {{>navbar}}
     <table class="table table-dark">
    <div class="row">
        <div class="col-md-12">
            <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">number</th>
            <th scope="col">Price</th>
            <th scope="col">image</th>
            <th scope="col">Action</th>
            <th></th>   
        </tr>
    </thead>
        </div>
    </div> 
    <tbody>
        {{#each order}}
         <tr>
             <td>{{this.first}}</td>
             <td>{{this.number}}</td>
             <td>{{this.price}}</td>
             <td>
                 <img src="upload/{{this.file}}" style="height: 50px;">
                  </td>
             <td>
                <a href="/edit/{{this._id}}" > <button class="btn btn-outline-primary" type="submit">Edit</button></a>
                <a href="{{this._id}}"> <button class="btn btn-outline-danger">Delete</button></a>
             </td>
         </tr>
        {{/each}}
    </tbody> 
     </table>
</div>   
